<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <h2>User info:</h2>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>age</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getLastName()}">LastName</td>
        <td th:text="${user.getAge()}">Age</td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>